
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: "Roboto", Roboto, sans-serif;
}
body {
  margin: 0px;
  background: #4a505f;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #9096a0;
  border-radius: 50px;
}
label { color: white; }
h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.9em;
  font-weight: 300;
}
h3 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1.4em;
}
section {
  margin-bottom: 60px;
}
button:focus {
  outline: none;
}
.btn {
  display: block;
  margin: 20px auto;
  padding: 0px 15px;
  height: 40px;
  width: auto;
  min-width: 120px;
  background-color: #5178c5;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 1.2em;
}
.btn:focus {
  outline: none;
}
.btn:hover, .suggestion:hover {
  cursor: pointer;
  background-color: #415296;
}
.btn-loading {
  opacity: 0.7;
}
.btn-loading:hover {
  cursor: not-allowed;
}
input[type="number"] {
  height: 35px;
  padding-left: 10px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #323746;
}

nav {
  position: fixed;
  top: 0px;
  float: left;
  background-color: #323746;
  width: 200px;
  height: 100vh;
  z-index: 900;
}
#mobile-menu-btn { display: none; }
nav button {
  width: 100%;
  height: 80px;
  padding: 5px 5px 5px 15px;
  text-align: left;
  color: black;
  cursor: pointer;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 0.8em;
}
nav button:hover:not(.unavailable), .current {
  background: linear-gradient(to right, #696b79, #4a505f);
}
.unavailable {
  opacity: 0.5;
  cursor: not-allowed;
}

main {
  float: right;
  padding: 0px 35px;
  position: relative;
  width: calc(100% - 200px);
  box-sizing: border-box;
}

main p {
  color: white;
}


textarea {
  display: block;
  width: 520px;
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
  resize: none;
  border-radius: 6px;
  border: 2px solid #323746;
  background-color: #323746;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.1em;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
  transition: 300ms;
}

textarea.disabled { -webkit-appearance: none; }

textarea:focus, #prediction-input:focus  {
  outline: none;
  border-color: #5178c5;
}

#section-autocomplete, #section-textgen, #section-dialogtree {
  display: none;
}

section h1 {
  text-align: left;
  margin-top: 12px;
}

#demos { display: none; }




/******** Status ********/
#status {
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  box-sizing: border-box;
}
#loading-data {
  display: none;
  position: relative;
  float: right;
  height: 25px;
  width: 160px;
  border-radius: 50px;
  padding: 5px;
  background-color: #dede98e8;
  border: 1px solid #ffff90;
}
#loading-data svg {
  display: inline-block;
  height: 25px;
  width: 25px;
}
#loading-data p {
  display: inline-block;
  position: absolute;
  line-height: 25px;
  margin: 0px;
  left: 50px;
  color: #8a8807;
  font-size: 0.8em;
}
#vocab-info {
  margin: 0px;
  line-height: 25px;
  float: right;
  color: #a2a2a2;
}
#vocab-info span { color: white; }



/******** Training ********/
#training-controls {
  text-align: center;
}
#train-btn { margin-top: 13px; }
#wiki-text {
  box-sizing: border-box;
  padding: 8px;
}
#wiki-text {
  width: 50%;
  float: left;
  height: auto;
  box-sizing: border-box;
  padding: 8px;
}
.maximum {
  display: inline-block;
}
#wiki-btn {
  display: block;
  margin: 5 auto;
}
#wiki-controls {
  border: 3px solid #323746;
  border-radius: 6px;
  box-sizing: border-box;
  overflow-y: scroll;
  display: inline-block;
  padding: 15px;
  width: 100%;
  height: 300px;
}
#wiki-history {
  list-style: none;
  padding-left: 0px;
  color: #FFFFFF;
}
#wiki-history li {
  margin-bottom: 5px;
}
#sample-text {
  width: 50%;
  float: right;
  height: auto;
  box-sizing: border-box;
  padding: 8px;
}
#sample-text #books {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border: 3px solid #323746;
  border-radius: 6px;
}
#books img {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 40px;
  width: 40px;
}
#books div {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  height: auto;
  width: 100%;
  overflow: hidden;
}
#books div:not(:last-of-type) {
  border-bottom: 1px solid white;
}
#books div:hover {
  cursor: pointer;
  background-color: #697286;
  transition: 0.4s;
}
#books div.reading {
  opacity: 0.5;
  cursor: not-allowed;
}
#books div.reading img {
  display: block;
}
#books div p {
  margin: 0px;
  font-size: 1.2em;
  color: #FFFFFF;
}
#books div .author {
  font-size: 0.9em;
  margin-top: 10px;
  color: #c9c8cc;
}



/******** Autocomplete ********/
#suggestions-wrapper {
  text-align: center;
  margin-bottom: 10px;
}
.suggestion {
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
  height: 33px;
  width: 130px;
  font-size: 1.1em;
  text-overflow: ellipsis;
  border-radius: 5px;
  border: none;
  background-color: #5178c5;
  color: white;
}



/******** Text Generation ********/
#gen-controls {
  text-align: center;
}
#generateBtn { display: inline-block; }
.maximum {
  height: 33px;
  width: 100px;
  font-size: 1.1em;
}
#text-gen-wrapper {
  margin: 0 auto;
  width: 520px;
  max-width: 100%;
}
#text-generation { opacity: 1; }
#speak-text {
  display: none;
  background: none;
  padding: 0px;
  margin: 0px;
  width: 50px;
  min-width: unset;
}
#speak-text:hover { color: #5178c5; }



/******** Prediction ********/
#prediction-input {
  display: block;
  margin:0 auto;
  width: 80%;
  height: 50px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #323746;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.1em;
  transition: 300ms;
}
#dialog-tree {
  text-align: center;
  margin-top: 9px;
}
#dialog-tree ul { padding: 0px; }
#dialog-tree li {
  display: none;
  margin-bottom: 15px;
  list-style: none;
  height: 65px;
  width: 65px;
  line-height: 65px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ebeef1;
  text-align: center;
  border-radius: 3px;
  border: 1px solid grey;
}
#column-1 li:hover {
  cursor: pointer;
}
#dialog-tree li.high-prob {
  position: relative;
  background-color: #d5edf7;
  border-color: #41bcbd;
}
#column-1, #column-2, #column-3 {
  display: inline-block;
  margin: 0px 24px;
  vertical-align: top;
}
#column-2 { opacity: 0.4; }
#column-3 { opacity: 0.1; }
#no-branches {
  display: none;
  color: #a2a2a2;
  text-align: center;
  font-weight: 200;
  margin-top: 50px;
}





@media (max-width: 950px) {
  #wiki-text, #sample-text {
    width: 100%;
    float: none;
  }
}
@media (max-width: 660px) {
  main {
    width: 100%;
    padding: 0px 15px;
  }
  nav {
    position: absolute;
    right: 20px;
    bottom: 0px;
    width: auto;
    border: none;
    z-index: 999;
  }
  nav button {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 25px;
    overflow: hidden;
    margin-bottom: 25px;
    text-align: center;
    color: white;
    line-height: 16px;
    font-weight: bold;
    font-size: 1.1em;
    height: 60px;
    width: auto;
    border: none;
    background-color: none;
    transition: 0.3s;
    z-index: 900;
  }
  nav button.current {
    background: none;
    color: #5178c5;
  }
  #mobile-menu-btn {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 9999;
    height: 68px;
    width: 68px;
    border: none;
    text-align: center;
    border-radius: 50px;
    background-color: #5177c6;
  }
  #mobile-menu-btn:hover {
    cursor: pointer;
    background-color: #415296;
  }
  #nav-backdrop { display: none; }
  nav #mobile-menu-btn.open ~ #nav-backdrop {
    display: block;
    background-color: #171727e3;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 800;
  }

  textarea, #prediction-input { width: 90%; }

  button.suggestion { width: 30%; }

  #speak-text { margin-left: 7.5%; }
}

@media (max-width: 380px) {
  #column-1, #column-2, #column-3 {
    margin: 0px 10px;
  }
}
