* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0px;
  background: #4a505f;
}
label { color: white; }
h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.9em;
  font-weight: 300;
}
section {
  margin-bottom: 60px;
}
button:focus {
  outline: none;
}
.btn {
  display: block;
  margin: 20px auto;
  height: 40px;
  width: auto;
  min-width: 120px;
  background-color: #5178c5;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 1.2em;
}
.btn:focus {
  outline: none;
}
.btn:hover, .suggestion:hover {
  cursor: pointer;
  background-color: #415296;
}
.btn-loading {
  opacity: 0.7;
}
.btn-loading:hover {
  cursor: not-allowed;
}

nav {
  position: fixed;
  top: 0px;
  float: left;
  background-color: #323746;
  width: 200px;
  height: 100vh;
  z-index: 900;
}
#mobile-menu-btn { display: none; }
nav button {
  width: 100%;
  height: 80px;
  padding: 5px 5px 5px 15px;
  text-align: left;
  color: black;
  cursor: pointer;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 0.8em;
}
nav button:hover:not(.unavailable), .current {
  background: linear-gradient(to right, #696b79, #4a505f);
}
.unavailable {
  opacity: 0.5;
  cursor: not-allowed;
}

main {
  float: right;
  position: relative;
  width: 85%;
}

#section-autocomplete, #section-textgen, #section-dialogtree {
  display: none;
}

#demos { display: none; }

#loading-data {
  display: none;
  position: fixed;
  top: 20px;
  right: 10px;
  height: 35px;
  width: 160px;
  border-radius: 50px;
  padding: 5px;
  background-color: #f1f191e8;
  border: 1px solid #e0e019;
}
#loading-data svg {
  display: inline-block;
  height: 35px;
  width: 35px;
}
#loading-data p {
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 50px;
  color: #8a8807;
  font-size: 0.8em;
}

textarea {
  display: block;
  width: 70%;
  height: 200px;
  margin: 0 auto;
  resize: none;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #323746;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.1em;
  transition: 300ms;
}

textarea:focus, #prediction-input:focus  {
  outline: none;
  border: 1px solid #5178c5;
}

#suggestions-wrapper {
  text-align: center;
  margin-bottom: 10px;
}
.suggestion {
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
  height: 33px;
  width: 130px;
  font-size: 1.1em;
  text-overflow: ellipsis;
  border-radius: 5px;
  border: none;
  background-color: #5178c5;
  color: white;
}

#gen-controls, #wiki-controls {
  text-align: center;
}
#generateBtn, #wiki-btn, .maximum { display: inline-block; }
.maximum {
  height: 33px;
  width: 100px;
  font-size: 1.1em;
}
#speak-text {
  display: none;
}


#prediction-input {
  display: block;
  margin:0 auto;
  width: 80%;
  height: 50px;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #323746;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.1em;
  transition: 300ms;
}
#dialog-tree {
  text-align: center;
  margin-top: 9px;
}
#dialog-tree ul { padding: 0px; }
#dialog-tree li {
  display: none;
  margin-bottom: 15px;
  list-style: none;
  height: 65px;
  width: 65px;
  line-height: 65px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ebeef1;
  text-align: center;
  border-radius: 3px;
  border: 1px solid grey;
}
#column-1 li:hover {
  cursor: pointer;
}
#dialog-tree li.high-prob {
  position: relative;
  background-color: #d5edf7;
  border-color: #41bcbd;
}
#column-1, #column-2, #column-3 {
  display: inline-block;
  margin: 0px 24px;
  vertical-align: top;
}
#column-2 { opacity: 0.4; }
#column-3 { opacity: 0.1; }


@media(max-width: 660px) {
  main { width: 100%; }
  nav {
    position: absolute;
    right: 20px;
    bottom: 0px;
    width: auto;
    border: none;
    z-index: 999;
  }
  nav button, #mobile-menu-btn {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 20px;
    overflow: hidden;
    margin-bottom: 25px;
    text-align: center;
    color: white;
    line-height: 16px;
    font-weight: bold;
    font-size: 0.7em;
    height: 68px;
    width: 68px;
    border: none;
    border-radius: 50px;
    background-color: #5177c6;
    transition: 0.3s;
  }
  nav button {
    text-align: center;
    padding: 0px;
  }
  #mobile-menu-btn {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 9999;
  }
  #mobile-menu-btn:hover {
    cursor: pointer;
    background-color: #415296;
  }

  textarea { width: 85%; }
}

@media (max-width: 372px) {
  #column-1, #column-2, #column-3 {
    margin: 0px 10px;
  }
}
