* {
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  color: #4d7a94;
  font-size: 1.9em;
  font-weight: 300;
}
section {
  margin-bottom: 60px;
}
button:focus {
  outline: none;
}
.btn {
  display: block;
  margin: 20px auto;
  height: 40px;
  width: auto;
  min-width: 120px;
  background-color: #6496b3;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 1.2em;
}
.btn:focus {
  outline: none;
}
.btn:hover, .suggestion:hover {
  cursor: pointer;
  background-color: #4d7a94;
}
#demos { display: none; }

textarea {
  display: block;
  width: 70%;
  height: 200px;
  margin: 0 auto;
  resize: none;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 5px 20px 10px #75757524;
  padding: 10px;
  font-size: 1.1em;
  transition: 300ms;
}

textarea:focus, #prediction-input:focus  {
  outline: none;
  box-shadow: 0px 1px 10px 2px #3a39393d;
}

#suggestions-wrapper {
  text-align: center;
  margin-bottom: 10px;
}
.suggestion {
  display: inline-block;
  vertical-align: middle;
  line-height: 33px;
  height: 33px;
  width: 130px;
  font-size: 1.1em;
  text-overflow: ellipsis;
  border-radius: 5px;
  background-color: #6496b3;
  color: white;
}

#gen-controls {
  text-align: center;
}
#generateBtn, #maximum { display: inline-block; }
#maximum {
  height: 33px;
  width: 100px;
  font-size: 1.1em;
}


#prediction-input {
  display: block;
  margin:0 auto;
  width: 80%;
  height: 30px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 5px 20px 10px #75757524;
  padding: 10px;
  font-size: 1.1em;
  transition: 300ms;
}
#dialog-tree {
  text-align: center;
  margin-top: 9px;
}
#dialog-tree ul { padding: 0px; }
#dialog-tree li {
  display: none;
  margin-bottom: 15px;
  list-style: none;
  height: 65px;
  width: 65px;
  line-height: 65px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ebeef1;
  text-align: center;
  border-radius: 3px;
  border: 1px solid grey;
}
#column-1 li:hover {
  cursor: pointer;
}
#dialog-tree li.high-prob {
  position: relative;
  background-color: #d5edf7;
  border-color: #41bcbd;
}
#column-1, #column-2, #column-3 {
  display: inline-block;
  margin: 0px 24px;
  vertical-align: top;
}
#column-2 { opacity: 0.4; }
#column-3 { opacity: 0.1; }

@media (max-width: 372px) {
  #column-1, #column-2, #column-3 {
    margin: 0px 10px;
  }
}
